<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2>Sign up</h2>

    <div class="well">
      <%= devise_error_messages! %>
      <%= render "pages/new_registration" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>